
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Чек на получение golden coins  </title>
        <style>
            p {
                text-indent: 30px;
                font-size: 16pt;
            }
        </style>
    </head>

        <header style="font-size: 20pt ; text-align:center">
            <h1>Чек на получение golden coins</h1>
            <h2 style=" font-size: 15pt">Счет "Auction industries": <br />************</h2>
            <h2 style=" font-size: 15pt">Счет игрока:<br /> ************</h2>
        </header>
    <br>
    <br>
<br>
        <p> Игрох @ViewData["user"] получает @ViewData["money"] bitcoins от "Auction industries".</p>    
        <p style="font-size: 18pt; text-indent: 80%">Дата:          </p>


    <input type="button" value="Печать" onclick="window.print()" />
       
