<!DOCTYPE html>
<html>
<head>
    <title>HTML 5</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/Content/general.css" />
    <link rel="stylesheet" type="text/css" href="/Content/navbar.css" />
</head>
<body>
    <header>
        <h1>Разработка WEB-приложений</h1>
    </header>
    <nav>
        <ul class="navbar">
            <li class="current">
                <a href="~/Home/General">Главная</a></li>
            <li><a href="~/Home/Chrome">Про Хром</a></li>
            <li><a href="~/Home/Contact">Карта</a></li>
            <li><a href="~/Home/p">Анимация</a></li>
            <li><a href="~/Home/Tar">task 3</a></li>
            <li><a href="/Home/Index">Тараканы полная</a></li>
            <li><a href="/Home/Manage">Управление</a></li>
        </ul>
    </nav>
    <section>
        <article>
            <div class="row">
                <div class="col-md-4">
                    <h2>Домашнее задание №1</h2>
                    <p>История создания браузера Google Chrome и основные характеристики</p>
                    <p><a class="btn btn-default" href="https://github.com/YuliaTimoshenkova/webapplication/tree/master/chrome">View on GitHub </a></p>
                </div>
                <div class="col-md-4">
                    <h2>Домашнее задание №2</h2>
                    <p>HTML страница с кнопкой</p>
                    <p><a class="btn btn-default" href="https://github.com/YuliaTimoshenkova/webapplication/blob/master/кнопка.html">View on GitHub </a></p>
                </div>
                <div class="col-md-4">
                    <h2>Домашнее задание №3</h2>
                    <p>Проект ASP.Net + страница с кнопкой</p>
                    <p><a class="btn btn-default" href="https://github.com/YuliaTimoshenkova/webapplication/tree/master/ASP.NET%20с%20кнопкой">View on GitHub </a></p>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article>
            <div class="row">
                <div class="col-md-4">
                    <h2>Домашнее задание №4</h2>
                    <p>Пейзаж и анимация реализованные с помощью JavaScript</p>
                    <p><a class="btn btn-default" href="https://github.com/YuliaTimoshenkova/webapplication/tree/master/%238%20JS%20%D0%9F%D0%B5%D0%B9%D0%B7%D0%B0%D0%B6%20%2B%20%D0%90%D0%BD%D0%B8%D0%BC%D0%B0%D1%86%D0%B8%D1%8F%20%D1%81%D0%BC%D0%B5%D0%BD%D1%8B%20%D0%B4%D0%BD%D1%8F%20%D0%B8%20%D0%BD%D0%BE%D1%87%D0%B8">View on GitHub </a></p>
                </div>
                <div class="col-md-4">
                    <h2>Домашнее задание №5</h2>
                    <p>Task 3 (тараканы для трех)</p>
                    <p><a class="btn btn-default" href="https://github.com/YuliaTimoshenkova/webapplication/tree/master/%2312%20%D1%82%D0%B0%D1%80%D0%B0%D0%BA%D0%B0%D0%BD%D1%8B">View on GitHub </a></p>
                </div>
                <div class="col-md-4">
                    <h2>Домашнее задание №6</h2>
                    <p>task 4 (тараканы, как вэб приложение)</p>
                    <p><a class="btn btn-default" href="https://github.com/YuliaTimoshenkova/webapplication/tree/master/%2313%20task4">View on GitHub </a></p>
                </div>
            </div>
        </article>
    </section>
    <aside>Эта новость опубликована<br /> <time datetime="2015-04-22">22 апреля 2015 года</time></aside>
    <div>
        <footer>
            <p>Copyright <a href="https://github.com/YuliaTimoshenkova"> View on GitHub </a></p>
        </footer>
    </div>

    <div id="wrapper">
        <div id="sidebar">
            Домашние работы выполнены студенткой РИ-320401<a href="https://github.com/YuliaTimoshenkova"> Тимошенковой Юлией &raquo;</a>
        </div>
        <div id="main">
            <p>статический сайдбар справа чтобы посмотреть как это работает</p>
        </div>
    </div>


   

</body>
</html>
