<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <meta http-equiv="Content-Type"
              content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/Content/general.css" />
        <link rel="stylesheet" type="text/css" href="/Content/navbar.css" />
        <script src="~/Scripts/p.js"></script>
        <title>HTML 5 Canvas</title>
    </head>
<nav>
    <ul class="navbar">
        <li class="current">
            <a href="~/Home/General">Главная</a>
        </li>
        <li><a href="~/Home/Chrome">Про Хром</a></li>
        <li><a href="~/Home/Contact">Карта</a></li>
        <li><a href="~/Home/p">Анимация</a></li>
        <li><a href="~/Home/Tar">task 3</a></li>
        <li><a href="/Home/Index">Тараканы полная</a></li>
        <li><a href="/Home/Manage">Управление</a></li>
    </ul>
</nav>
<
<body>
    <canvas id="map" width="750" height="400" style="border:1px solid #999999"></canvas>
    <section id="CanvasSection">
        <canvas id="canvas" width="500" height="500"></canvas>
    </section>
</body>
</html>
