@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Проект по предмету WEB разработка</h1>
    <p class="lead">студент ИРИТ-РТФ группа РИ-320401</p>
    <p><a href="https://github.com/YuliaTimoshenkova" class="btn btn-primary btn-large">View on GitHub &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Домашнее задание №1</h2>
        <p>
            История создания браузера Google Chrome и основные характеристики
        </p>
        <p><a class="btn btn-default" href="https://github.com/YuliaTimoshenkova/webapplication/tree/master/chrome">View on GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Домашнее задание №2</h2>
        <p>HTML страница с кнопкой</p>
        <p><a class="btn btn-default" href="https://github.com/YuliaTimoshenkova/webapplication/blob/master/кнопка.html">View on GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Домашнее задание №3</h2>
        <p>Проект ASP.Net + страница с кнопкой</p>
        <p><a class="btn btn-default" href="https://github.com/YuliaTimoshenkova/webapplication/tree/master/ASP.NET%20с%20кнопкой">View on GitHub &raquo;</a></p>
    </div>
</div>