<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script language="javascript" src="~/Scripts/game.js"></script>
    <script type="text/javascript" src="~/Scripts/ext-all-debug.js"></script>
    <script type="text/javascript">
        function SubmitStats(parameters) {
            Ext.Ajax.request({
                url: '/Home/SaveStats',
                method: 'POST',
                params: {
                    data: Ext.encode({
                        user: document.getElementById("user1").value,
                        money: document.getElementById("pvin1").value,
                    })

                },

                success: function (response) {
                    var text = response.responseText;
                    alert(text);
                    // process server response here
                }
            });
            Ext.Ajax.request({
                url: '/Home/SaveStats',
                method: 'POST',
                params: {
                    data: Ext.encode({
                        user: document.getElementById("user2").value,
                        money: document.getElementById("pvin2").value,
                    })

                },
                success: function (response) {
                    var text = response.responseText;
                    alert(text);
                    // process server response here
                }
            });
            Ext.Ajax.request({
                url: '/Home/SaveStats',
                method: 'POST',
                params: {
                    data: Ext.encode({
                        user: document.getElementById("user3").value,
                        money: document.getElementById("pvin3").value,
                    })

                },
                success: function (response) {
                    var text = response.responseText;
                    alert(text);
                    // process server response here
                }
            });
        }
    </script>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        li {
            float: left;
        }

        a {
            display: block;
        }
    </style>

    <title>Игровой портал</title>
</head>
<body>
    <header>Тарканьи бега</header>
    <nav>
        <ul>
            <li><a href="/Home/Index">Главная</a></li>
            <li><a href="/Home/Manage">Управление</a></li>
        </ul>
    </nav>
    <img id="bug" src="~/bug.jpg" />  POSITION

    <section id="CanvasSection">
        <canvas id="map" width="750" height="405" style="border:1px solid black"></canvas>
    </section>
    <section id="CanvasSection">
        <canvas id="map1" width="750" height="60" style="border:5px solid red"></canvas>
    </section>
    <div style="float: left; width: 100%">
        <div style="float: left; width: 20%">
            <h2>Первый игрок</h2>введите имя:<input type="text" id="user1" name="user1" />
            <form id="task1" name="task">
                <input id="checkbox11" name="group1" type="checkbox" value="1" />1 таракан cтавка: <input type="text" id="b11" name="b11" /><br>
                <input id="checkbox12" name="group1" type="checkbox" value="2" />2 таракан  cтавка: <input type="text" id="b12" name="b12" /><br>
                <input id="checkbox13" name="group1" type="checkbox" value="3" />3 таракан  cтавка: <input type="text" id="b13" name="b13" /><br>
                <input id="checkbox14" name="group1" type="checkbox" value="4" />4 таракан  cтавка: <input type="text" id="b14" name="b14" /><br>
                <input type="button" value="сделать ставку" onclick="get1();" />
            </form>
        </div>
        <div style="float: left; width: 20%">
            <h2>Второй игрок</h2>введите имя:<input type="text" id="user2" name="user2" />
            <form id="task2" name="task">
                <input id="checkbox21" name="group2" type="checkbox" value="1" />1 таракан cтавка: <input type="text" id="b21" name="b21" /><br>
                <input id="checkbox22" name="group2" type="checkbox" value="2" />2 таракан  cтавка: <input type="text" id="b22" name="b22" /><br>
                <input id="checkbox23" name="group2" type="checkbox" value="3" />3 таракан  cтавка: <input type="text" id="b23" name="b23" /><br>
                <input id="checkbox24" name="group2" type="checkbox" value="4" />4 таракан  cтавка: <input type="text" id="b24" name="b24" /><br>
                <input type="button" value="сделать ставку" onclick="get2();" />
            </form>
        </div>
        <div style="float: left; width: 20%">
            <h2>Третий игрок</h2>введите имя:<input type="text" id="user3" name="user3" />
            <form id="task3" name="task">
                <input id="checkbox31" name="group3" type="checkbox" value="1" />1 таракан cтавка: <input type="text" id="b31" name="b31" /><br>
                <input id="checkbox32" name="group3" type="checkbox" value="2" />2 таракан  cтавка: <input type="text" id="b32" name="b32" /><br>
                <input id="checkbox33" name="group3" type="checkbox" value="3" />3 таракан  cтавка: <input type="text" id="b33" name="b33" /><br>
                <input id="checkbox34" name="group3" type="checkbox" value="4" />4 таракан  cтавка: <input type="text" id="b34" name="b34" /><br>
                <input type="button" value="сделать ставку" onclick="get3();" />
            </form>
        </div>
        <div style="float: left; width: 20%">
            <h2>УПРАВЛЕНИЕ</h2>
            <form id="task5" name="but">
                Банк: <input type="text" id="bank" name="bank" /><br>
                <input type="button" value="ИГРАЕМ!" onclick="game();" /><br>
                <input type="button" value="Результаты" onclick="result();" /><br>
                <button id="btnSubmitStat" type="submit" onclick="SubmitStats()">Сохранить результаты</button><br>
                <script type="text/javascript">
                    document.write(Date());
                </script>
            </form>
        </div>
        <div style="float: left; width: 20%">
            <h2>Выйгрыши</h2>
            <form id="task5" name="but">
                игрок1:<input type="text" id="pvin1" name="pvin1"><br>
                игрок2:<input type="text" id="pvin2" name="pvin2"><br>
                игрок3:<input type="text" id="pvin3" name="pvin3"><br>
            </form>
        </div>

    </div>

</body>
</html>



